@import url('https://fonts.cdnfonts.com/css/franklin-gothic');


#mainBanner {
  height: 400px;
  background-image: url(../Home/assets/pixelMario.gif);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
}

.bold {
  font-weight: 900;
  font-size: 35px;
}

.centerText {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#period {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #4285f4;
  }
  25% {
    color: #db4437;
  }
  50% {
    color: #f4b400;
  }
  75% {
    color: #0f9d58;
  }
  100% {
    color: #4285f4;
  }
}

#firstBanner {
  height: 250px;
  margin: 0;
}

#firstImage{
  background-image: url(../Home/assets/codecode-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;

}


#secondBanner{
  height: 250px;
  margin: 0;
}

#thirdBanner{
  height: 250px;
  margin: 0;
}


#banTxt{
  font-family: 'Franklin Gothic', sans-serif;
  
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em;
  
}

.rightHand{
  text-align: right;
}

#leftHand{
  font-family: 'Franklin Gothic', sans-serif;
  line-height: 0.9em; /* a */
  max-height: 1em;
  padding-left:23px;
}

#secondImage{
  height: 250px;
  background-size: cover;
  background-image: url(../Home/assets/deskTop.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

#lastBanner{
  height: 350px;
  background-size: cover;
  background-image: url(../Home/assets/ramen.gif);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

#thirdimage{
  height: 250px;
  background-size: cover;
  background-image: url(../Home/assets/danImage-min.jpg);
  background-position: 70% 40%;
  background-repeat: no-repeat;
  margin: 0;
}

#peaceTag{
  margin: 0;
  padding-left: 10px;
  font-family: 'Franklin Gothic', sans-serif;
}


#firstTxt{
  
  font-family: 'Franklin Gothic', sans-serif;

}

#firstBanText{
margin: 0;

}

#subtitles{
  padding-top: 20px;
  font-family: 'Franklin Gothic', sans-serif;
  font-size: 24px;
  line-height: 20px;
  margin: 0;
}


#subtitles2{
  font-size: 24px;
  font-family: 'Franklin Gothic', sans-serif;
  line-height: 20px;
  padding-top: 40px;
  padding-left: 30px;
  max-height: 1em;
}