#mainBanner {
  height: 400px;
  background-image: url(../Home/assets/chanceCompressed.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: 900;
  font-size: 35px;
}

.centerText {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#period {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #4285f4;
  }
  25% {
    color: #db4437;
  }
  50% {
    color: #f4b400;
  }
  75% {
    color: #0f9d58;
  }
  100% {
    color: #4285f4;
  }
}

#firstBanner {
  height: 250px;
  margin: 0;
}

#firstImage{
  background-image: url(../Home/assets/codecode-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;

}


#secondBanner{
  height: 250px;
  margin: 0;
}


#thirdBanner{
  height: 250px;
  margin: 0;
}


#banTxt{
  font-size: 40px;
}

#secondImage{
  height: 250px;
  background-size: cover;
  background-image: url(../Home/assets/nostalgia.jpg);
  background-position: center;
  background-repeat: no-repeat;
}