@import url('https://fonts.cdnfonts.com/css/franklin-gothic');

#nav-banner {
    /* font-weight: 900; */
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 70px;
    margin: 0;
    padding-top: 10px;

}
.boldER {
    font-weight: 800 ;
    font-size: 23px;
    /* margin-right: 30px; */
    letter-spacing: -0.5px;
}


.noActive {
    display: none;
}

/* #parent{
    margin-bottom: 23px;
} */

